<!DOCTYPE html>
<html>{% import 'macros.html' as macros %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Database Homepage</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1>Transportation Database Homepage</h1>
        <p>
            Here you can compare sustainability data across the state or across
            time within your own municipality. See the emissions effects of
            transportation and which means of transportation have positive or
            negative impacts on the environment.
        </p>
        <hr/>
        <h2>Choose data to view:</h2>
        <h3><form action="/municipality" method="POST">
            Municipality data for
            <select name="mno">
            {% for m in municipalities %}
                <option value="{{ m.mno }}">{{ macros.municipality(m.name, m.county) }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Search" />
        </form></h3>
        <h3><form action="/ghg" method="POST">
            Statewide CO₂ emissions in
            <select name="year">
                Year:
                <option value="2015">2015</option>
                <option value="2020">2020</option>
            </select>
            <input type="submit" value="Search" />
        </form></h3>
        <h3><form action="/mot2" method="POST">
            Percentage of people in
            <select name="year">
                <option value="2015">2015</option>
                <option value="2020">2020</option>
            </select>
            getting to work via
            <select name="t1">
            {% for t in types %}
                <option value="{{ t.index }}">{{ t.name }}</option>
            {% endfor %}
            </select>
            compared to
            <select name="t2">
            {% for t in types %}
                <option value="{{ t.index }}">{{ t.name }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Search" />
        </form></h3>
    </body>
    <footer>
        <hr/>
        Data has been collected from Sustainable Jersey resources
        <br/> 
        <a href="/redirectURL" target="_blank"> 
            <img src="{{ url_for('static', filename='S_JerseyLogo.png') }}"/>
        </a>
    </footer>
</html>
