<!DOCTYPE html>
<html>{% import 'macros.html' as macros %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="/static/style.css" />
    <style>
      #map {
        height: 80dvh;
        width: 100%;
      }

      .info {
        background-color: white;
        color: black;
        margin: 8px;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 2dvh;
        box-shadow: 0 0 2px black;
      }
    </style>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{ macros.back_to_homepage() }}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <div id="map"></div>
    <script>
      queryPath = '{{ query_path|safe }}';
      colorMap = '{{ color_map|safe }}';
      displayType = '{{ display_type|safe }}';
      t1 = '{{ t1|safe }}';
      t2 = '{{ t2|safe }}';
    </script>
    <script src="/static/cloropleth.js"></script>
  </body>
</html>
